.container {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

textarea {
  margin: 20px;
  background-color: bisque;
}

span {
    margin-top: 0;
    margin-left: 20px;
}

li {
  background-color: lightgrey;
  width: 300px;
  height: 240px;
  border-radius: 5px;
  border: 2px solid black;
  display: inline-block;
  list-style-type: none;
  margin: 10px 10px;
}
