.container {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    height: 400px;
    width: 400px;
    border: 2px black solid;
    border-radius: 4px;
}

.buttonsDelete {
    margin-top: 10px;
}

.modal-content {
    font-size: 18px;
    text-align: center;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

.createPostIts {
    background-color:antiquewhite;
    width: 300px;
    height: 340px;
    margin: 50px auto;
    border-radius: 4px;
    border: 2px black solid;
    text-align: center;    
}

.buttonsPostIt {
    position: absolute;
    right: 0;
}

.type-text {
    margin-top: 20px;
}

.postItButtons {
    background-color: white;    
}

.close:hover {
    cursor: pointer;
}

#createPostIts {
    margin-top: 20px;    
    height: 30px;    
}

p {
    font-size: 18px;
}

#redContainer {
    background-color: crimson;
}

#blueContainer {
    background-color: lightblue;
}

.wrap{
    display: flex;
}

.blue {
    background-color: rgb(0, 71, 252);
}

.red {
    background-color: red;
}